[submodule "android"]
	path = android
	url = https://github.com/googlemaps/android-on-demand-rides-deliveries-samples
[submodule "provider"]
	path = provider
	url = https://github.com/googlemaps/java-on-demand-rides-deliveries-stub-provider
[submodule "ios"]
	path = ios
	url = https://github.com/googlemaps/ios-on-demand-rides-deliveries-samples
[submodule "angular"]
	path = angular
	url = https://github.com/googlemaps/angular-on-demand-rides-deliveries-samples
[submodule "react-native-web"]
	path = react-native-web
	url = https://github.com/googlemaps/react-on-demand-rides-deliveries-samples.git
